
#phone{
    overflow: hidden;
}

#icon{
    /* width: 60px; */
    /* color: white; */
    /* font-size: 60px; */
    position: absolute;
    top: 0;
    left: 5px;
    display: none;
    z-index: 1001;
    line-height: 60px;
}
#icon i{
    font-size: 30px;
    color: white;
}

#phone-tree{
    display: none;
    width: 300px;
    position: absolute;
    left: -300px;
    top: 0;
    z-index: 1003;
}

#mask{ 
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1002;
}


@media all and (max-width: 768px){
    #header-logo, #pc{
        display: none;
    }
    #icon, #phone-tree{
        display: block;
    }
    .layui-body, .layui-layout-admin .layui-footer{
        left: 0;
    }
}

/* #breadcrumb{
    background-color: gray;
} */

#body_breadcrumb{
    margin-top: 10px;
    padding-left: 5px;
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid gray;
}

#body_primary{
    border-bottom: 2px solid burlywood;
}

.text-primary {
    color: #0e90d2;
    font-size: 18px;
}

.am-cf:after, .am-cf:before {
    content: " ";
    display: table;
}

.am-cf:after {
    clear: both;
}

.am-fl {
    float: left;
}

.am-padding {
    padding: 16px;
}